
<div *ngIf="userAnswer">
    <h2><span>User Answer</span> {{userAnswer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>User Id</span></dt>
        <dd>
            <span>{{userAnswer.userId}}</span>
        </dd>
        <dt><span>Judge Answer</span></dt>
        <dd>
            <span>{{userAnswer.judgeAnswer}}</span>
        </dd>
        <dt><span>Text Answer</span></dt>
        <dd>
            <span>{{userAnswer.textAnswer}}</span>
        </dd>
        <dt><span>Choice Answer Ids</span></dt>
        <dd>
            <span>{{userAnswer.choiceAnswerIds}}</span>
        </dd>
        <dt><span>Result</span></dt>
        <dd>
            <span>{{userAnswer.result}}</span>
        </dd>
        <dt><span>Question</span></dt>
        <dd>
            <div *ngIf="userAnswer.questionId">
                <a [routerLink]="['/base-question-exam', userAnswer.questionId]">{{userAnswer.questionId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-answer-exam/'+ userAnswer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
